include *.md *.in *.toml *.yaml LICENSE NOTICE
recursive-include licenses *.txt
global-include pyppbox *.*
exclude .gitignore
recursive-exclude .git *.*
recursive-exclude .github *.*
recursive-exclude docs *.*
recursive-exclude examples *.*
prune plans
global-exclude */__pycache__
global-exclude *.pyc *.cmd
