### Base
Cython>=0.29.33
numpy
### OpenCV
# For GUI support, check:
# https://github.com/rathaumons/opencv-for-pyppbox
opencv-contrib-python
### Common
scikit-image>=0.20.0
scikit-learn>=1.2.2
scipy>=1.10.0
imageio
imutils
pandas
Pillow
psutil
tqdm
tables
h5py
matplotlib
PyYAML
future
protobuf
### Tensorflow
# Please follow the installation on:
# https://www.tensorflow.org/install/pip
tensorflow
### PyTorch
# Please follow the installation on:
# https://pytorch.org/get-started/
torch
torchvision
torchaudio
### Tracker: SORT
filterpy
lapx
### Compression
pyunpack
patool
### GUI
PyQt6
### Customized pyppbox-torchreid
pyppbox-torchreid
### Customized pyppbox-ultralytics
pyppbox-ultralytics>=8.0.218
### Unused
# shapely
