### Base
Cython>=0.29.37
numpy
### OpenCV
# For GPU support, check:
# https://github.com/rathaumons/opencv-for-pyppbox
opencv-contrib-python
### Common
scikit-image>=0.20.0
scikit-learn>=1.2.2
scipy>=1.10.0
imageio
pandas
Pillow
psutil
tqdm
tables
h5py
matplotlib
PyYAML
future
protobuf
### Tensorflow
# Please follow the installation on:
# https://www.tensorflow.org/install/pip
tensorflow
### PyTorch
# Please follow the installation on:
# https://pytorch.org/get-started/
torch
torchvision
### Tracker: SORT
filterpy
lapx
### GUI
PyQt6
sfps
### Customized pyppbox-torchreid
pyppbox-torchreid
### Customized vsensebox-ultralytics (pyppbox-ultralytics is discontinued)
vsensebox-ultralytics>=8.3.5
### Unused
# shapely
